@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

:root {
	--outline: #f8b1dc;
}

body {
	background-color: #202124;
	color: white;
	font-family: "Montserrat", sans-serif;
}

a {
	text-decoration: none;
	color: white;
}
