@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin: 0;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25%;
  height: auto;
}

#box-up {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;

	background-color: var(--bg);

	border-color: var(--fg);
	border-style: solid;
	border-width: 0.12em;
	border-radius: 3px;
}

#box {
  display: flex;
  justify-content: normal;
  flex-direction: column;
  align-items: center;
}

#box br {
  display: none;
}

#box a {
	color: rgb(125, 187, 247);

	font-size: 1.2em;
  margin:0;
  padding:0;
	font-family: "Ubuntu Mono", monospace;
}

#omnibox {
	width: 16em;

	background-color: transparent;

	color: white;

	border-style: none;

	font-size: 1.2em;
	font-family: "Ubuntu Mono", monospace;
}

#omnibox:focus {
	outline: none;
}

navbar {
	position: absolute;

	left: 50%;
	top: 5%;
	transform: translate(-50%, -50%);

	font-size: 40px;
}

navbar i .hidden {
	visibility: hidden;
}

navbar i:hover .hidden {
	visibility: visible;
}

#sponsor {
	position: fixed;

	left: 50%;
	bottom: 10px;

	transform: translate(-50%, -50%);
}

#sponsor a {
	color: lightblue;
}
